<ion-header>
  <ion-navbar>
    <ion-title>Event Details {{ event?.title }} </ion-title>
  </ion-navbar>
  <button ion-button (click)="toggleFavorite()" color="light">
    <ion-icon [name]="event.isFavorite ? 'star' : 'star-outline'" item-start color="secondary"></ion-icon>
  </button>
</ion-header>

<ion-content padding>
  <ion-item>
    <h1>Título</h1>
    <p>{{ event.title }}</p>
  </ion-item>
  <!-- <ion-item>
    <h3>Imagen</h3>
    <img [src]="event.image?.url" alt="Imagen del evento" class="event-image">
  </ion-item> -->
  <ion-slides pager="false" slidesPerView="1" shouldLockSwipes="1">
    <ion-slide *ngFor="let i of event.image">
      <ion-card>
        <img [src]="i.url" alt="Imagen del evento" class="event-image">
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-item>
    <h3>Descripción</h3>
    <p> {{ event.description }} </p>
  </ion-item>
  <ion-item>
    <h3>Fecha</h3>
    <p> {{ event.event_date }} </p>
  </ion-item>
  <ion-item>
    <h3>Hora</h3>
    <p> {{ event.event_time }} </p>
  </ion-item>
  <ion-item>
    <h3>Ubicación</h3>
    <p> {{ event.location_name }} </p>
  </ion-item>
  <ion-item>
    <h3>Coordenadas</h3>
    <p> Latitud: {{ event.location_lat }} Longitud: {{ event.location_lng }} </p>
  </ion-item>
  <ion-item>
    <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" [src]="mapUrl">
    </iframe>
  </ion-item>
  <ion-item>
    <h3>Video</h3>
    <!-- <object class="embed-video" [data]="videoUrl"></object> -->
    <iframe allowscriptaccess="always" frameborder="0" allowfullscreen="" class="embed-video" [src]="videoUrl"></iframe>
  </ion-item>
  <!-- <div *ngIf="event.location_lat && event.location_lng" style="width: 100%">
    <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" [src]="mapUrl">
    </iframe>
  </div> -->

</ion-content>