<ion-header>
  <ion-navbar>
    <ion-title>
      Lista de Eventos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Fecha inicio</ion-label>
    <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="startDate"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Fecha fin</ion-label>
    <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="endDate"></ion-datetime>
  </ion-item>

  <button ion-button (click)="filterByDateRange()" full>Filtrar Eventos</button>
  <div class="buttons-dates">
    <button ion-button (click)="filterByPredefinedDate(1)" round>Hoy</button>
    <button ion-button (click)="filterByPredefinedDate(7)" round>Últimos 7 días</button>
    <button ion-button (click)="filterByPredefinedDate(30)" round>Últimos 30 días</button>
    <button ion-button (click)="filterByPredefinedDate(45)" round>Mes pasado</button>
    <button ion-button (click)="filterByPredefinedDate(365)" round>Este año</button>

  </div>

  <ion-list *ngIf="events && events.length">
    <ion-card *ngFor="let event of filteredEvents; let i = index" (click)="viewEvent(event)" class="event-card">
      <img *ngIf="event.image[0]?.url; else fallbackImage"
        [src]="event.image?.url || (event.image?.length ? event.image[0]?.url : '')" alt="Imagen del evento"
        class="event-image" />
      <ng-template #fallbackImage>
        <img src="../../assets/imgs/imagen-fiesta.jpg" />
      </ng-template>

      <ion-card-content>
        <div class="share-bar">
          <button ion-button clear icon-only (click)="regularShare(i); $event.stopPropagation()">
            <ion-icon name="share"></ion-icon>
          </button>
          <button ion-button clear icon-only (click)="facebookShare(i); $event.stopPropagation()">
            <ion-icon name="logo-facebook"></ion-icon>
          </button>
        </div>

        <ion-icon [name]="event.isFavorite ? 'star' : 'star-outline'" item-start color="secondary"></ion-icon>
        <ion-card-title>{{ event.title }}</ion-card-title>
        <p>{{ event.event_date }}</p>
        <p>{{ event.description }}</p>
      </ion-card-content>
    </ion-card>

  </ion-list>
  <div *ngIf="!events.length" class="skeleton-container">
    <!-- Skeleton Text -->
    <div class="skeleton skeleton-title"></div>
    <div class="skeleton skeleton-line"></div>
    <div class="skeleton skeleton-line"></div>
    <div class="skeleton skeleton-line"></div>
  </div>
</ion-content>